div.fixedHeaderTable {
    position: relative;
}

div.fixedHeaderTable tbody {
    overflow-y: auto;
    overflow-x: hidden;
}

div.fixedHeaderTable thead td,div.fixedHeaderTable thead th {
    position: relative;
}

/* IE7 hacks */
div.fixedHeaderTable {
    *position: relative;
    *height: expression(this.offsetParent.clientHeight-2);
    *overflow: auto;
    *overflow-y: auto;
    *overflow-x: auto;
    *padding-right: 16px;
}

div.fixedHeaderTable thead tr {
    *position: relative;
    _position: absolute;
    *top: expression(this.offsetParent.scrollTop-2);
}

div.fixedHeaderTable tbody {
    *height: auto;
    *position: absolute;
    *top: 50px;
}

/* IE6 hacks */
div.fixedHeaderTable {
    _width: expression(this.offsetParent.clientWidth-5);
    _overflow: auto;
    _overflow-y: auto;
    _overflow-x: auto;
}

div.fixedHeaderTable thead tr {
    _position: relative
}